* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  background: url(../images/pegasus.jpg);
  background-attachment: fixed;
  top: 215px;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  background-size: 100%; }

.logo {
  background-color: black;
  text-align: center; }

.titular h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 2vh;
  color: white; }

.titular p {
  text-align: center;
  font-size: 1.5rem;
  margin: 5vh 5vw;
  color: white; }

#contenedorItems {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center; }
  #contenedorItems .myths {
    width: 400px;
    margin-bottom: 30px; }
    #contenedorItems .myths img {
      width: 100%;
      height: 80%; }

.description {
  background-color: #a9adad;
  text-align: center;
  height: 100px;
  padding: 1rem; }
  .description button {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: white; }

h2 {
  text-align: center;
  font-size: 4rem;
  margin-top: 2vh;
  color: white; }

.contFiguras {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.2rem; }
  .contFiguras .miniFigura {
    margin: auto; }
    .contFiguras .miniFigura img {
      height: 180px;
      width: 150px; }
  .contFiguras .miniName, .contFiguras .miniPrice, .contFiguras .cant, .contFiguras .subtotal {
    margin: auto; }
    .contFiguras .miniName h3, .contFiguras .miniName p, .contFiguras .miniPrice h3, .contFiguras .miniPrice p, .contFiguras .cant h3, .contFiguras .cant p, .contFiguras .subtotal h3, .contFiguras .subtotal p {
      text-align: center;
      color: white; }
  .contFiguras .delete {
    margin: auto; }
    .contFiguras .delete .deleteButton {
      background-color: red;
      color: white;
      height: 30px;
      width: 150px;
      border-radius: 5px;
      cursor: pointer; }
